
.headerWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.loginBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 64px;
}
.loginLink {
    margin: 15px 0;
}