.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogItems {
    padding: 15px;
}

.dialog {

}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.messages {
    padding: 15px;
}

.message {
margin-bottom: 5px;
}

.dialogImage {
    width: 50px;
    border-radius: 50%;
}