.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogItems {
padding: 15px;
}

.dialog {

}

.messages {
    padding: 15px;
}

.message {

}
.dialogImage {
    width: 50px;
    border-radius: 50%;
}